.container {
  width: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px lightgray;
  border-radius: 20px;
  margin-top: 50px;
}

form {
  font-size: 14px;
  margin-top: 20px;
}
.btn {
  width: auto;
}
img {
  width: 150px;
}
.input-box input {
  margin: auto;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
}
.btn {
  margin: auto;
  width: 80%;
}
